{% extends "Main/layout.html" %}

{% block content %}
<br/>
Enter player name and hit start.  Games will load in as they are uploaded and ballchasing.com processes them.
<br/>
<form action="/home" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Start">
</form>
     <div id="divReplays"></div>
{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script type="text/javascript">
    var link = "{{link}}";
    var playerName = "{{playerName}}";
    var interval = "";
    $( document ).ready(function() {
      StartLooking();
    });

    function StartLooking()
    {
    console.log(playerName);
     if (playerName != "-1")
        {
            CheckReplay();
            interval = setInterval(CheckReplay,10000);
        }
    }

    function CheckReplay()
    {
    $.ajax({
        url: 'checkreplay',
        type: 'GET',
        data: { playerName: playerName} ,
        contentType: 'application/json; charset=utf-8',
        success: function (response) {
            console.log("Current Replay: " + link);
            console.log("Latest  Replay: " + response);
            if (response != link)
            {
                link = response;
                AddReplay();
            }
                
        },
        error: function () {
            console.log("error checking replay");
        }
    });

    }

    function AddReplay()
    {
         $.ajax({
        url: 'getreplay',
        type: 'GET',
        data: { replay: link,playerName: playerName} ,
        contentType: 'application/json; charset=utf-8',
        success: function (response) {
            console.log("Got Replay: " + link);
            $("#divReplays").prepend(response);
                
        },
        error: function () {
           console.log("error getting replay");
        }
    });
    }
   
</script>

{% endblock %}